NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
DATABASE_URL=postgresql://postgres.[project-ref]:[password]@aws-region.pooler.supabase.com:6543/postgres?pgbouncer=true
DIRECT_URL=postgresql://postgres.[project-ref]:[password]@aws-region.pooler.supabase.com:5432/postgres
SEED_ADMIN_EMAIL=
SEED_ADMIN_PASSWORD=
